@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@500&display=swap");
html {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

#searchbar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchbar div {
  font-size: 30px;
}

#bar {
  width: 80%;
  background-color: #e4e3e3;
  height: 100%;
  border-radius: 30px;
}

#personal-data-card {
  width: 60%;
}

#personal-data-card .avatar {
  font-size: 60px;
  color: orange;
  font-size: 90px;
  margin: 0;
}

#name {
  font-size: 35px;
}

#personal-data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header {
  background-color: white;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  min-height: 200px;
}

header .search {
  width: 90%;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header .search div {
  font-size: 30px;
}

header .search .avatar {
  font-size: 60px;
  color: orange;
}

header .data {
  width: 90%;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header .data button {
  background-color: #6d6dee;
  width: 100px;
  font-size: 20px;
  color: white;
  font-family: inherit;
  height: 40px;
  border: 0;
  border-radius: 35px;
}

#container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 3.25fr;
      grid-template-columns: 1fr 3.25fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

#container .sidebar {
  background-color: #6d6dee;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 60px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#container .sidebar .dashboard {
  font-size: 40px;
}

#container .sidebar .dashboard .material-icons {
  font-size: 45px;
}

#container .sidebar .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  justify-items: left;
  gap: 20px;
  margin: 15px 0 15px 30px;
  width: 70%;
}

#container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.8fr 1fr;
      grid-template-columns: 2.8fr 1fr;
  margin: 20px 20px 10px 20px;
}

#content-wrap {
  background-color: #dce0f0;
}

#personal-data-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#personal-data-card img {
  height: 100%;
  background: red;
}

#projects div:first-child {
  margin-bottom: 10px;
}

#other {
  min-width: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 6fr 0.2fr 6fr;
      grid-template-rows: 0.2fr 6fr 0.2fr 6fr;
  gap: 10px;
}

#other .header {
  font-size: 22px;
  margin-left: 5%;
}

#other .other-data {
  padding: 20px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

#other .other-data div {
  font-size: 12px;
}

#other .other-data div div:first-child {
  font-size: 15px;
  font-weight: bold;
}

#other .trending .material-icons {
  font-size: 60px;
  color: orange;
}

#other .trending div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

#other .trending div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

#other .trending div div div:nth-child(2) {
  font-size: 16px;
  color: #8b8b8b;
}

#other hr {
  width: 100%;
  -ms-grid-column-align: normal;
      justify-self: normal;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  min-width: 440px;
}

#projects .header {
  font-size: 22px;
  margin-left: 5%;
}

#projects .project-grid {
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -ms-grid-rows: 6fr 6fr 6fr;
      grid-template-rows: 6fr 6fr 6fr;
  gap: 20px;
}

#projects .project-grid .project-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  -ms-grid-row-align: center;
      align-self: center;
}

#projects .project-grid .project-card div {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

#projects .project-grid .project-card div:first-child {
  padding-top: 10px;
}

#projects .project-grid .project-card div:first-child div:first-child {
  font-size: 20px;
  font-weight: bold;
}

#projects .project-grid .project-card div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
/*# sourceMappingURL=style.css.map */