@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@500&display=swap');

$sidebar-color: rgb(109, 109, 238);
$header-color: rgb(255, 255, 255);
$content-color: rgb(192, 192, 192);

html {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

@mixin flex-for-header {
  width: 90%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

@mixin avatar {
  font-size: 60px;
  color: orange;
}

@mixin header-left {
  flex: 1;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  align-items: center;
}

@mixin header {
  font-size: 22px;
  margin-left: 5%;
}

#searchbar {
  @include header-left;

  div {
    font-size: 30px;
  }
}

#bar {
  width: 80%;
  background-color: rgb(228, 227, 227);
  height: 100%;
  border-radius: 30px;
}
#personal-data-card {
  width: 60%;

  .avatar {
    @include avatar();
    font-size: 90px;
    margin: 0;
  }
}

#name {
  font-size: 35px;
}

#personal-data {
  @include header-left;
  height: 100%;
}

header {
  background-color: $header-color;
  grid-row: 1;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 200px;

  .search {
    @include flex-for-header;
    div {
      font-size: 30px;
    }

    .avatar {
      @include avatar;
    }
  }

  .data {
    @include flex-for-header;
    button {
      background-color: $sidebar-color;
      width: 100px;
      font-size: 20px;
      color: white;
      font-family: inherit;
      height: 40px;
      border: 0;
      border-radius: 35px;
    }
  }
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3.25fr;
  grid-template-rows: 1fr 4fr;

  .sidebar {
    background-color: $sidebar-color;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    gap: 60px;
    color: white;
    font-size: 20px;
    font-weight: 400;

    .dashboard {
      font-size: 40px;
      .material-icons {
        font-size: 45px;
      }
    }

    .item {
      display: grid;
      grid-template-columns: 1fr 9fr;
      justify-items: left;
      gap: 20px;
      margin: 15px 0 15px 30px;
      width: 70%;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    margin: 20px 20px 10px 20px;
  }
}

#content-wrap {
  background-color: $content-color;
}

#personal-data-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  img {
    height: 100%;
    background: red;
  }
}

#projects {
  div:first-child {
    margin-bottom: 10px;
  }
}

#other {
  border: 1px solid red;
  min-width: 310px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr 6fr;
  gap: 10px;
  .header {
    @include header();
  }

  .other-data {
    padding: 20px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
  }

  hr {
    width: 100%;
    justify-self: normal;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  min-width: 440px;

  .header {
    @include header();
  }

  .project-grid {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 6fr 6fr 6fr;
    gap: 20px;

    .project-card {
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: white;
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0);
      width: 400px;
      height: 200px;
      align-self: center;

      div {
        width: 90%;
        justify-self: center;
      }

      div:first-child {
        padding-top: 10px;

        div:first-child {
          font-size: 20px;
          font-weight: bold;
        }
      }

      div:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
      }
    }
  }
}
