$sidebar-color: rgb(109, 109, 238);
$header-color: rgb(255, 255, 255);
$content-color: rgb(192, 192, 192);

body {
  margin: 0;
}

@mixin flex-for-header {
  width: 90%;
  justify-self: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

@mixin header-left {
  flex: 1;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  align-items: center;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3.25fr;
  grid-template-rows: 1fr 4fr;

  header {
    background-color: $header-color;
    grid-row: 1;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .search {
      @include flex-for-header;

      #searchbar {
        @include header-left;
        #bar {
          width: 80%;
          background-color: rgb(0, 255, 98);
          height: 100%;
        }
      }
    }

    .data {
      @include flex-for-header;

      #personal-data {
        @include header-left;
        height: 100%;

        #personal-data-card {
          width: 60%;
          background: yellow;
          height: 100%;
        }
      }
    }
  }

  .sidebar {
    background-color: $sidebar-color;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .content {
    background-color: $content-color;
  }
}
